<form [formGroup]="graphForm" ng-submit="save()">
  <mat-icon id="close-icon" (click)="closeDialog()" class="close">
    <button type="button">X</button>
  </mat-icon>
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field><br />
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Description" formControlName="description">
  </mat-form-field><br />
  <mat-form-field>
    <mat-label>Chart type</mat-label>
     <mat-select formControlName="type">
      <mat-option *ngFor="let type of graph_types" [value]="type">
        {{type}}
      </mat-option>
     </mat-select>
  </mat-form-field><br/>
  <mat-form-field>
      <mat-label>Data source</mat-label>
      <mat-select formControlName="datasource">
        <mat-option *ngFor="let datasource of  datasource" [value]="datasource">
          {{datasource}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <br />
  <button mat-button class="add" (click)="save()" type="submit" class="add">Save</button>&nbsp;&nbsp;
  <button mat-button *ngIf="del" class="add" (click)="delete()" type="submit" class="add">Delete</button>
</form>